<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KWONN TEST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}" media="screen" title="no title"  charset="utf-8"></copylink>
    <script src="index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    function arrow(){
        $(".arrow").animate({top:'-=12px'});
        $(".arrow").animate({top:'+=12px'});
        $(".arrow").animate({top:'-=8px'});
        $(".arrow").animate({top:'+=8px'}).delay(600);
        arrow()
    }
    $(".content").delay(650).animate({top: '-=32px',opacity: '1',},"slow");
    $(".content2").delay(1300).animate({top: '-=32px',opacity: '1',},"slow");
    $(".content3").delay(1950).animate({top: '-=32px',opacity: '1',},"slow");
    $(".arrow").delay(2700).animate({opacity: '1',},"slow");
    arrow();
});
</script>
</head>
<body>
<div id='wrapper'>
    <video autoplay muted loop id="videobg">
        <source src="/static/img/home.mp4">
        Your browser does not support HTML5 video.
    </video>
    <div id="logo">
        <img src='/static/img/KWONNLOGO.png' width=90% height=90%/>
    </div>
    <div class="content">
        <div class='underline'>
            Washable
        </div><br>
    </div>
    <div class="content2">
        <div class='underline'>
            Vegan
        </div><br>
    </div>
    <div class="content3">
        <div class='underline'>
            Lightweight
        </div><br>
    </div>
    <div class="arrow">
        <img src='/static/img/arrow.png' height=85% width=85%>
    </div>
</div>
</body>
</html>